
.crearLlamadaLateral{
    position: absolute;
    background-color: whitesmoke;
    top: 4rem;
    right: 0;
    width: 30vw;
    min-height: 90%;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2rem;
    transform:translateX(100%);
    opacity: 0;
    padding-top: 2.4rem;
    transition: opacity .3s ease, transform .3s ease;
}

.showCrearLlamadaLateral{
    opacity: 1;
    transform: translateX(0);
}

.cerrarCrearLlamada{
    cursor: pointer;
    color: navy;
    font-size: 2rem;
    transition: font-size .3s ease;
    margin-right: 1rem;
}

.cerrarCrearLlamada:hover{
    font-size: 2.1rem;
}
