@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: Arial, sans-serif;
}
hr{
    border: 0;
    height: 2px;
    background: #e3ebf2;
    margin: 2rem 0;
}
h1{
    color: #2d3e50;
    font-size: 27px;
    font-family: sans-serif;
    font-weight: 500;
    margin: 0 1.8rem;
    margin-left: 40px;
    font-weight: bold;
}
.encabezado1{
    margin-top: 90px;
    font-family:sans-serif; 
}
.container{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 2.4rem;
}
ul{
    list-style-type: none;
    padding-left: 2rem;
    color: #33475b;

    margin-top: 50px;
}
.container ul li.sub {
    font-size: 1.3rem;
    color: #33475b;
    font-family: 'Mooli', sans-serif;
    transition: font-size 0.3s ease; /* Transición suave al cambiar el tamaño del texto */
    cursor: pointer; /* Cambia el cursor al pasar el cursor sobre los elementos de la lista */
}

.container ul li.sub:hover {
    color: #6959cb;
    font-size: 1.4rem; /* Aumenta el tamaño al pasar el cursor sobre los elementos de la lista */
    font-weight: bold;
}
li{
    display: inline;
    margin-right: 10px;
    margin-right: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.sub:hover{
    transform: scale(1.2); 
}
li:hover{
    color: #6959cb;
}
.section1{
    height: 480px;
    border-right: 2px solid #e3ebf2;
    float: left;
    width: 30%;
    margin-top: 0px;
}
.section2{
    float: right;
    width: 70%;
}
.btn1{
    background: #5785c1;
    border-radius: 20px;
    border: none;
    color: white;
    width: 220px;
    height: 40px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 100px;
    transition: opacity 0.5s ease;
}
.btn1:hover{
    background-color: #2d3e50;
    opacity: 0.7; 
}
.btn2{
    background: #6959cb;
    border-radius: 20px;
    border: none;
    color: white;
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 800px;
    margin-top: 20px;
    transition: opacity 0.5s ease;
}
.btn2:hover{
    background-color: #3b3bd0;
    opacity: 0.7; 
}
.subtitulo{
    font-family: 'Mooli', sans-serif;
}
.cont{
    margin-left: 70px;
}
.combobox{
    width: 500px;
    height: 27px;
    border-radius: 10px;
    border-color: #878787;
}
.caja1{
    width: 500px;
    height: 27px;
    border-radius: 10px;
    border-color: #878787;
}
.caja2{
    width: 700px;
    height: 170px;
    border-radius: 10px;
    border-color: #878787;
}